<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add New Salon</h1>

        <div>
    <form action="/salons" method="post">
        <label for="name">Salon Name:</label>
        <input type="text" name="name" id="name">

        <!-- I can change it later on to a select with different cities, and if it is not thei, choose other and write the location -->
        <label for="location">Salon Location:</label>
        <input type="text" name="location" id="location">


        <label for="openingTime">Openning Time:</label>
        <input
            type="time"
            id="openingTime"
            name="openingTime"
            min="00:00"
            max="24:00"
            required 
        />


        <label for="closingTime">Closing Time:</label>
        <input
            type="time"
            id="closingTime"
            name="closingTime"
            min="00:00"
            max="24:00"
            required 
        />

        <label for="workingDays">Working Days</label>
        <select name="workingDays" id="workingDays" multiple>
            <option value="Sun">Sun</option>
            <option value="Mon">Mon</option>
            <option value="Tue">Tue</option>
            <option value="Wed">Wed</option>
            <option value="Thu">Thu</option>
            <option value="Fri">Fri</option>
            <option value="Sat">Sat</option>
        </select>

        <label for="name">Salon Name:</label>
        <input type="text" name="name" id="name">

        <button id="addService"> Add Service </button>
        <button type="submit">Add Salon</button>
    </form>
        </div>

        <!-- <button action="add-salon.ejs">Add New Salon</button> -->
</body>

</html>